body{
}
h1{
  color: blue;
}
h1{
  font-family:"verdana, arial";
}
p{
  font-family: "lucida console";
  font-size: 1em;
}
 h2{
     float: right-corner;
     margin-right: 10px;}
     p{
       background-color: dark;
     }
     .container{
      
     }